extends layout

block content
  header
    div.content
      img.avatarImage(src='https://secure.gravatar.com/avatar/e009159792e6cc522fc413deb96b967b?s=120', align="left", style="background: none;")
      h1= title
      p
        | Component is a system for building modular, client side components out of JavaScript and CSS.  The 
        | objective is to replace monolithic libraries like jQuery with lots of small, maintainable components.
  section#menu
    div.content
      nav
  section.page
    div.content
      h2
        | Table of Contents
      ul
        each heading in headings
          li
            a(href="#" + heading.id)= heading.text
  section.page
    div.content
      | !{components}