doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style-b-and-w.css')
    link(rel='stylesheet', href='//highlightchoice.jit.su/monokai.css')
  body
    block content
    script(src='/javascripts/build/build.js')