doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style-b-and-w.css')
    link(rel='stylesheet', href='https://yandex.st/highlightjs/7.1/styles/monokai.min.css')
  body
  nav#top.menu
    div.content
      a(href="/")
        img(src="https://secure.gravatar.com/avatar/e009159792e6cc522fc413deb96b967b?s=30")
        | All components
      a(href="/about") What is a component?
  block content
  script(src='/javascripts/build/build.js')
  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36766620-1']);
    _gaq.push(['_setDomainName', 'component.jit.su']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();